.login-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-info-icon {
    margin-right: 20px;
}

.login-spinner {
    margin-right: 8px;
}

.error-text {
    margin-top: 16px;
    color: rgb(164, 38, 44);
}

.connect-your-database {
    font-size: 30px;
    width: 200px;
    margin: auto;
    text-align: center;
}

.connect-your-database > img {
    height: 30px;
}
