.log-container {
    display: inline-block;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 8px;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
}

.log-button {
    width: 20px;
}

.logged-text {
    height: fit-content;
    padding: 4px;
    color: #777;
    font-size: smaller;
}
