.button-link{
    text-decoration: none;
}
   
.info-cell {
    display: flex;
    align-items: center;
}

.info-cell-title {
    font-size: 12px;
    color:rgb(161, 159, 157);
}

.info-cell-data {
    font-size: 14px
}