.profile-card {
    display: flex;
    align-items: center;
}

.profile-card .icon {
    display: block;
    max-height: 50px;
    max-width: 50px;
    margin-right: 15px;
    border: 1px solid whitesmoke
}

.profile-card .name {
    flex: 1;
    font-weight: 600;
    font-size: 14px;
    color: #4b4a49;
}

.profile-card .phone {
    font-size: 13px;
}

.profile-card .right {
    margin-left: auto;
}

.description {
    padding: 8px;
}

.clickable {
    cursor: pointer;
    padding: 8px;
}

.clickable:hover {
    background: #ededed;
}

.with-padding {
    padding: 8px;
}

.phone {
    display: flex;
    flex-direction: row;
}

[data-initials]:before {
    background: #a2478a;;
    color: white;
    opacity: 1; 
    content: attr(data-initials); 
    display: inline-block; 
    font-weight: 600;
    font-size: 20px; 
    border-radius: 50%;
    vertical-align: middle; 
    margin-right: 0.5em; 
    width: 50px; 
    height: 50px; 
    line-height: 50px; 
    text-align: center; 
}
