.section-card {
    user-select: none;
}

.collapse-section-button {
    cursor: pointer;
    margin-right: 8px;
    padding: 8px;
    border-radius: 25%;
}

.collapse-section-button:hover {
    background: #eeeeee;
}
