.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin: 8px 8px 16px 8px;
}

.search-icon {
    height: 100%;
    border-left: none;
}

.search-spinner {
    padding: 32px;
}
