.company-icon{
    font-size: 15px;
    margin: 0 15px 0 0;
}

.company-info-item {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.insights-info {
    text-align: center;
    padding: 8px 16px 16px 16px;
    font-size: 14px;
}

.insights-button {
    margin: 8px auto 16px auto
}

.insights-empty-info {
    text-align: center;
    padding: 8px;
    font-size: 14px;
}
