.contact-list-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact-profile-card-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 8px;
}

.contact-list-item-container-selectable {
    cursor: pointer;
}

.contact-list-item-container-selectable:hover {
    background: #eeeeee;
}


.log-container {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 8px;
    text-align: center;
    cursor: pointer;
}

.log-button {
    width: 20px;
}

.logged-text {
    height: fit-content;
    padding: 4px;
    color: #777;
    font-size: smaller;
}
